<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Pantry</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <a href="/users/<%=user._id%>/foods/new">Add a Food</a>
    <% if (pantry.length > 0) { %>
      <ul>
          <% pantry.forEach((food) => { %>
              <li><%= food.name %></li>
          <% }) %>
      </ul>
  <% } else { %>
      <p>There are no items in this pantry.</p>
  <% } %>
  </body>
</html>
