<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a Food</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Food</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
       <label for="name">Name:</label>
       <input type="text" name="name" id="name">
    <button type="submit">Add Food</button>
    </form>
   
  </body>
</html>
